{% extends "header.html" %}
{% block body %}
<style type="text/css">
  p{
    font-size: 16px;
  }
</style>

    <!-- Page Header Start -->
    <div class="page-header" style="background: url('{{url_for('static',filename='assets/img/banner1.jpg')}}');">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">About Us</h2>
              <a href="index.html">Home</a>
              <span>/</span>
              <span class="current">About Us</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <!-- About Us section Start -->
    <div class="about section">
      <div class="container">
         <h3 class="email" style="font-size: 35px;"><center>Welecome to AIIVINE PXL PVT LTD</center> <!-- <span style="font-size: 70%;">LLP</span> --></h3>
         <br>
        <div class="row">
         
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="about-header">
                
                <p>AIIVINE PXL Pvt Ltd is an IT company providing professionally developed IT solutions and services in global IT market place. Offering complete Single Page Applications, Web Design and Web Development services & solutions to clients globally, on tools / platforms / Technologies like PHP, Codeigniter, Laravel Node.js, Angular, Java, Artificial Intelligence, Image Processing, Computer Vision and Open Source Technologies.</p>
                <div style="margin-bottom: 10px;"></div> 
                <p>Our committed and experienced team of experts ensures customer satisfaction and successful projects delivery to clients through feasibility/requirement analysis, agile development process, smart support services, detailed report, satisfactory deployment, extreme software testing, and proper maintenance support.</p>
                <div style="margin-bottom: 10px;"></div> 
                <p>
                  We have expertise to convert your ideas, thoughts, and requirements into user-engaging products, solutions and steaming revenue. We let your brand create niche product and knowledge authority, in the high-tech competitive online-era. So, you taste the thrust of purpose-centric solutions and services. Share your ideas, thoughts, and requirement with our team. We take your business aspirations where you want them.
                </p>
            </div>
            
        
            
            
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="img-thumb">
                <img src="{{url_for('static',filename='assets/img/about.jpg')}}" alt="">
            </div>
        </div>

        </div>
        <h4>Our Commitment</h4>
            <div style="margin-bottom: 5px;"></div>
            <p>We are committed to deliver efficient, innovative, cost-effective, reliable smart solutions and services in competitive, frequently changing and challenging world. Long-term whole-hearted relation instead of project to project relation. We are dedicated to offer solutions and service that makes you feel fully satisfied. Whoever work with us, feels like a part of family.</p>
        <!-- <h4>The way we work</h4>
        <img src="assets/img/tech/way.png" alt=""> -->
        <div style="margin-bottom: 50px;"></div>
                   <h4><center>Our Work Flow</center></h4>
                   <p><center>See our Work process on Project...</center></p>
                   <div style="margin-bottom: 20px;"></div>
                   <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                           <img src="{{url_for('static',filename='assets/img/tech/webdevelopmrnt.png')}}" alt="">
                  
                      </div>
                   </div>

      </div>
    </div>
{% endblock %}