{% extends "header.html" %}
{% block body %}

    <!-- Page Header Start -->
      <div class="page-header" style="background: url('{{url_for('static',filename='assets/img/banner1.jpg')}}');">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">Development Methodology</h2>
              <a href="index.html">Home</a>
              <span>/</span>
              <span class="current">Development Methodology</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  

     <div class="about section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row container">
              <div class="about-header">
                  <p>AIIVINE <!-- <span style="font-size: 70%;">LLP</span> --> is premium provider of Hi-tech web, and ERP solutions and services. We have seamless processes for our client gratification and maintain integrated relationships. Our execution process for any project manifests simple steps like:</p>
                  <div style="margin-bottom: 5px;"></div>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Acquaintance of client through various procedures</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Detailed analysis of acquired project for seamless execution</p>
                  <div style="margin-bottom: 5px;"></div>
                  <p class="list-sp">The complete process starts hereafter that includes:</p>

                  <div style="margin-bottom: 5px;"></div>

                  <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">

                  <h4 class="list-sp">Planning</h4>
                  <div style="margin-bottom: 5px;"></div>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Planning phase is initial phase</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;The initial investigation with the our client reviews and documents the key parameters.</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Find resources,analyze cost and time, benefits and others.</p>

                  <div style="margin-bottom: 5px;"></div>

                  <h4 class="list-sp">System Architecture</h4>
                  <div style="margin-bottom: 5px;"></div>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Decision about Framework design and duration of project by our experts</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Brief layout of work procedure with targeted milestone within stipulated time</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Architectural enhancement by technical teams combining all aspects of project</p>

                  <div style="margin-bottom: 5px;"></div>

                  <h4 class="list-sp">Design Phase</h4>
                  <div style="margin-bottom: 5px;"></div>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Wire-framing of complete project along with analysis is carried out</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Interactive client communication to achieve successful results</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Elegant design of the project in accordance with user interface depiction with click-able prototypes.</p>


                  
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <img src="assets/img/tech/phase.png" alt="">
                  </div>
                  </div>

                  <div style="margin-bottom: 5px;"></div>
                  
                  <h4 class="list-sp">Project Implementation</h4>
                  <div style="margin-bottom: 5px;"></div>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;The existing prototypes during previous phases are coded, programmed and modified during this phase.</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Successive execution of technical coding steps according to the set milestones.</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Collaboration of technical aspects to deliver efficient product.</p>

                  

                  <div style="margin-bottom: 5px;"></div>
                  
                  <h4 class="list-sp">Testing and Debugging</h4>
                  <div style="margin-bottom: 5px;"></div>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Testing: is a post development phase necessary for quality check</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;At each and every milestone the testing process is crept in by our expert team of Quality Assurance.</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Optimized results are achieved at the end of testing phase to launch the final product.</p>


                  <div style="margin-bottom: 5px;"></div>
                  
                  <h4 class="list-sp">Deployment</h4>
                  <div style="margin-bottom: 5px;"></div>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;The imperative phase of entire methodology process is launching of the finalized product from client in the market.</p>
                  <p><i class="fa fa-check-circle list-sp" aria-hidden="true"></i>&nbsp;Becoming live online is final touch to the finish of the project sustenance.</p>
                  
                  <div style="margin-bottom: 10px;"></div> 

                  <p>After this remains the maintenance and upgrades phases that are included in post development phase. Also regular maintenance services are included in post development to ensure successful sustainability of app in the market.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us section End -->   
    
{% endblock %}