
{% extends "header.html" %}
{% block body %}

    <!-- Page Header Start -->
  <div class="page-header" style="background: url('{{url_for('static',filename='assets/img/banner1.jpg')}}');">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">Portfolio</h2>
              <a href="index.html">Home</a>
              <span>/</span>
              <span class="current">Portfolio</span>
            </div>
          </div>
        </div>
      </div>
    </div>



<div class="container">
<div style="height: 30px;">&nbsp;</div>
  <div class="row">
    <!-- <h2 class="section-title"></h2> -->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="news-grid-item">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="{{url_for('static',filename='assets/img/news/sk.jpg')}}" alt="">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="news-content">
            <h3 class="news-title"><a href="saradakosh.php">Saradakosh</a></h3>
              <div class="meta">
                <!-- <span class="meta-part"><a href="#"><i class="fa fa-calendar-o"></i> 29 Dec, 2016</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-eye"></i> 59</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-commenting-o"></i> 27</a></span> -->
              </div>
            <p class="desc">Spiritual Knowledge Search Portal based on faceted search.</p>
            <a href="saradakosh.php" class="btn btn-common btn-sm m-t-20">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="news-grid-item">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="{{url_for('static',filename='assets/img/news/sk.jpg')}}" alt="">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="news-content">
            <h3 class="news-title"><a href="dhaturupa.php">Dhaturupa Generator</a></h3>
              <div class="meta">
                <!-- <span class="meta-part"><a href="#"><i class="fa fa-calendar-o"></i> 29 Dec, 2016</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-eye"></i> 59</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-commenting-o"></i> 27</a></span> -->
              </div>
            <p class="desc">A teaching leaning tool that generates Sanskrit dhaturupa automatically.</p>
            <a href="dhaturupa.php" class="btn btn-common btn-sm m-t-20">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="news-grid-item">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            
            <img src="{{url_for('static',filename='assets/img/news/mobile.jpg')}}" alt="">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="news-content">
            <h3 class="news-title"><a href="NXG.php">NXG Mobile</a></h3>
              <div class="meta">
                <!-- <span class="meta-part"><a href="#"><i class="fa fa-calendar-o"></i> 29 Dec, 2016</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-eye"></i> 59</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-commenting-o"></i> 27</a></span> -->
              </div>
            <p class="desc">NXG Mobile is a portal where you can buy all Latest Model of Mobile</p>
            <a href="NXG.php" class="btn btn-common btn-sm m-t-20">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="news-grid-item">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="{{url_for('static',filename='assets/img/news/jewel.jpg')}}" alt="">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="news-content">
              <h3 class="news-title"><a href="svj.php">Jewellery Stock Management</a></h3>
              <div class="meta">
                <span class="meta-part"><a href="#">PHP, Web Application</a></span>
                <!-- <span class="meta-part"><a href="#"><i class="fa fa-calendar-o"></i> 29 Dec, 2016</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-eye"></i> 59</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-commenting-o"></i> 27</a></span> -->
              </div>
              <p class="desc">A Complete Jewellery Stock Management Solution.</p>
              <a href="svj.php" class="btn btn-common btn-sm m-t-20">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="news-grid-item">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="{{url_for('static',filename='assets/img/news/iot.jpg')}}" alt="">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="news-content">
            <h3 class="news-title"><a href="blog.php">Ai-eHive Blog</a></h3>
              <div class="meta">
                <!-- <span class="meta-part"><a href="#"><i class="fa fa-calendar-o"></i> 29 Dec, 2016</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-eye"></i> 59</a></span>
                <span class="meta-part"><a href="#"><i class="fa fa-commenting-o"></i> 27</a></span> -->
              </div>
            <p class="desc">A Highly dynamic Technology Blog</p>
            <a href="blog.php" class="btn btn-common btn-sm m-t-20">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="news-grid-item">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="{{url_for('static',filename='assets/img/news/erp.jpg')}}" alt="">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="news-content">
            <h3 class="news-title"><a href="erp.php">eVsn-ERP</a></h3>
            <div class="meta">
              <span class="meta-part"><a href="">PHP, Web Application</a></span>
              <!-- <span class="meta-part"><a href="#"><i class="fa fa-calendar-o"></i> 29 Dec, 2016</a></span>
              <span class="meta-part"><a href="#"><i class="fa fa-eye"></i> 59</a></span>
              <span class="meta-part"><a href="#"><i class="fa fa-commenting-o"></i> 27</a></span> -->
            </div>
            <p class="desc">Enterprise resource planning (ERP) is the integrated management of core business processes by software.</p>
            <a href="erp.php" class="btn btn-common btn-sm m-t-20">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="news-grid-item">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="{{url_for('static',filename='assets/img/news/ecommerce.jpg')}}" alt="">
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="news-content">
            <h3 class="news-title"><a href="ecommerce.php">Let's shop</a></h3>
            <div class="meta">
            <!-- <span class="meta-part"><a href="#"><i class="fa fa-calendar-o"></i> 29 Dec, 2016</a></span>
            <span class="meta-part"><a href="#"><i class="fa fa-eye"></i> 59</a></span>
            <span class="meta-part"><a href="#"><i class="fa fa-commenting-o"></i> 27</a></span> -->
            </div>
            <p class="desc">Let's shop is a Ecommerce Portal where you buy Electronics, Clothes, Gifts, Home Decor, Sports.</p>
            <a href="ecommerce.php" class="btn btn-common btn-sm m-t-20">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
  </div>
</div>

{% endblock %}
