{% extends "header.html" %}
{% block body %}
    <!-- Page Header Start -->
    <div class="page-header" style="background: url('{{url_for('static',filename='assets/img/banner1.jpg')}}');">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">Single Page Application </h2>
              <a href="index.html">Home</a>
              <span>/</span>
              <span class="current">All Services</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <div class="about section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row container">
              <div class="about-header">
                  <h4>We have a different Approach for Single-Page Application Development (SPA)</h4>
                  <p>AIIVINE <!-- <span style="font-size: 70%;">LLP</span> --> is an expert Single Page Application development company which has enough dedicated resources and skilled experts to work properly on your single page application project. We have a complete development team including AngularJS developers, project managers, web designers and Testing and QA who are working hard to provide the most productive results for your Single page app development demands.</p>
                  <div style="margin-bottom: 5px;"></div>
                  <p>AIIVINE <!-- <span style="font-size: 70%;">LLP</span> --> has a passion for assisting customers and offers full potential of the advanced technologies. There are latest technology in web development and web design, which is as per the user's hopes with features like attractive, speedy and responsive application. By following this, AIIVINE <!-- <span style="font-size: 70%;">LLP</span> --> develops the smart single page applications (SPAs) by sing JS, Angular, Node.JS, MongoDB, and ExpressJS. </p>
              </div>
            </div>
            <div class="row container">
              <div class="about-header">
                  <h4>Why AIIVINE <!-- <span style="font-size: 70%;">LLP</span> --> is the best option for Single Page Application development?</h4>
                  <p>AIIVINE <!-- <span style="font-size: 70%;">LLP</span> --> a leading edge single page application development firm in India providing efficient, cost-effective and reliable solutions and services globally. A Single Page Application (SPA) is a distinct process of creating HTML 5 apps instead of traditional Web page development. Single Page Applications(SPA) seem to look alike a desktop application to the end user.</p>
              </div>
            </div>
            <div class="row container">
              <div class="about-header">
                  <h4>Tools we use for Single Page Application Development:</h4>
                  <div style="height: 40px">&nbsp;</div>
                  <center><img src="assets/img/tech/MEAN-stack-bluepi.png"></center>
                  <div style="height: 40px">&nbsp;</div>
                
              </div>
            </div>
            <div class="row container">
              <div class="about-header">
                  <h4>Node.js</h4>
                    <p>Node.js is an open-source, cross-platform JavaScript run-time environment for executing Javascript code server-side. It uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. It is used to build real time web applications.</p>
                    <div style="margin-bottom: 5px;"></div>
              </div>
            </div>
            <div class="row container">
              <div class="about-header">
                  <h4>Express.js</h4>
                    <p>It is a Node.js web application framework offers robust set of features for web and mobile applications. It is used to develop websites mobile apps and also in cross platform mobile applications.</p>
                    <div style="margin-bottom: 5px;"></div>
              </div>
            </div>
            <div class="row container">
              <div class="about-header">
                  <h4>Angular</h4>
                    <p>AngularJS is a very useful front-end framework to write complex apps in easy way. It is a framework for dynamic web apps and you can use HTML syntax to express your applications components clearly. AngularJS is meant specifically for containing all JavaScript on one page and loading what it needs in an ad-hoc way of loading modules and it is also used in developing Hybrid mobile apps.</p>
                    <div style="margin-bottom: 5px;"></div>
                    <p>
                      In AngularJS, code reusability can be achieved using Modules, Controllers, Factories and Providers so you need to write less code. 
                    </p>
                    <div style="margin-bottom: 5px;"></div>
                    <p>
                      The most important thing is that AngularJS is developed by Google Developers. All of the heavy lifting is intelligently done by AngularJS.
                    </p>
              </div>
            </div>
            
            <div class="row container">
              <div class="about-header">
                  <h4>MongoDB</h4>
                    <p>MongoDB is a free, open-source and cross-platform database program and it’s known as a NoSQL database program. It uses JSON-like documents with schemas. It is easy to install, setup and no VM require to run. As it is NoSQL, it is secure because no sql injections can be made.</p>
                    <div style="margin-bottom: 5px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}