{% extends "header.html" %}
{% block body %}
    <!-- Page Header Start -->
     <div class="page-header" style="background: url('{{url_for('static',filename='assets/img/banner1.jpg')}}');">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">Web Design</h2>
              <a href="index.html">Home</a>
              <span>/</span>
              <span class="current">Web Design</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <div class="about section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row container">
              <div class="about-header">
              <h4> We will convert your ideas to creative design.</h4>
                  <p>AIIVINE is offers Responsive Website Designs Services in India and Worldwide.Every business demands creative web designing which can attract the visitors.AIIVINE can offering the professional website which can mark your presence among your competitors.A web design company assures you to get best website designing services for your website which helps you to increase your market value.we provides you a custom web services for your business.</p>

                  <div style="margin-bottom: 10px;"></div>

                  <p>AIIVINE is a web designing company which offers web design services like creation of high-quality design and layout create using Photoshop, PSD to HTML, Costomize your website, Maintain the Website, CSS etc with multiple language options for the website.We also include javascript and jquery to make it creative.</p>

                  <div style="margin-bottom: 35px;"></div>
                  <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">


                  <p style="font-size: 19px;color:#191B48;"><b>AIIVINE also offers:</b></p>

                  <div style="margin-bottom: 10px;"></div>


                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;HTML5 and CSS3 designing</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Templates designing</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Web 2.0 designing</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Custom web Design</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Ui Design</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;E-commerce website design</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Online portal</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Social Networking Website</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;PSD to HTML</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Costomize your Website</p>
                   <p class="list-sp"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Maintain the Website</p>

                   </div>

                   <div class="col-md-6 col-sm-6 col-xs-12">


                     <img src="{{url_for('static',filename='assets/img/news/ecommerce.jpg')}}" style="margin-top: -11px;">
                     
                   </div>
                   </div>
                   <div style="margin-bottom: 10px;"></div>
                   <br>


                   <h4><center>Key Element of Responsive Design</center></h4>
                   <div style="margin-bottom: 20px;"></div>
                   <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">


                           <img src="{{url_for('static',filename='assets/img/tech/responsive2.png')}}" style="margin-top: -11px;">
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <br>
                         <p class="list-sp" style="font-size: 16px;padding-top: 10px;"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;We used Fluid grid layout with relative sizing without changing in the pixels.</p>
                         <p class="list-sp" style="font-size: 16px;padding-top: 10px;"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Flexible image size relative to content so that they properly display in screen base on screen size. </p>
                         <p class="list-sp" style="font-size: 16px;padding-top: 10px;"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Media queries are supported by the most up-to-date web browsers and, when used in conjunction with fluctuating grids, text and images, work to create the perfect platform for a responsive web design site.</p>
                         <p class="list-sp" style="font-size: 16px;padding-top: 10px;"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;For faster loading synchronization of components server side with client side.</p>
                      </div>
                   </div>

                   <div style="margin-bottom: 40px;"></div>
                   <br><br>
                   <h4><center>Why choose us for the Responsive Design</center></h4>
                   <div style="margin-bottom: 40px;"></div>
                   <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <br>
                         <p class="list-sp" style="font-size: 16px;padding-top: 10px;"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Our Designer and Developer have experience in challenging web design and web development.</p>
                         <p class="list-sp" style="font-size: 16px;padding-top: 10px;"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Having a dedicated team for various emerging platform and devices.</p>
                         <p class="list-sp" style="font-size: 16px;padding-top: 10px;"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;We arrange content with related images that looks good in every device.</p>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                           <img src="{{url_for('static',filename='assets/img/tech/responsive1.png')}}" style="margin-top: -11px;">
                      </div>
                   </div>

                   <div style="margin-bottom: 20px;"></div>
                   <p>We are seeing a complete makeover of the web right now with everyone from a small startup to a big corporate house rushing to redefine the looks of websites.</p>
                   
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us section End --> 

{% endblock %}